#header {
  background-color: #0f2344;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  padding-bottom: 1px;
}
.col-lg-10 img {
  width: 100%;
  padding-top: 50px;
}
#developmentType, #frontEnd, #backEnd, #css, #javascript, #ruby, #cSharp, #php, #java, #backInstitution, #backCorpChoice, #name{
  display: none;
}
.radio{
  display: block;
}

.language img{
  width: 50%;
}

.language {
  text-align: center;
}
.form-group {
  text-align: center;
}

#imgRow img{
  width: 5%;
  display: inline-block;;
  margin: 0px 4% 0px 4%;
}
#imgRow {
  width: 100%;
  text-align: center;
}

#startButton{
  margin: 50px 0 10px 0;
}
body{
  text-align: center;
}
